﻿@model MoneyTransfer.Models.Transaction

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h4>Topic</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ReceiverId" class="control-label"></label>
                    <input asp-for="ReceiverId" class="form-control" />
                    <span asp-validation-for="ReceiverId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SumOfTransaction" class="control-label"></label>
                    <input asp-for="SumOfTransaction" class="form-control" />
                    <span asp-validation-for="SumOfTransaction" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>

</body>
</html>

